.header-style {
  /* Sticky & blur */
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  
  /* Layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  background-color: rgba(187, 176, 176, 0.2);
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
}
  nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin: 0 5px;
    color: rgb(2, 2, 2);
}
